
@{
    ViewBag.Title = "Aboutus";
    Layout = "~/Views/Shared/_LayoutGoksunmum.cshtml";
}

<main>
    <section id="aboutusSlider" class="aboutus-slider">
        <div id="aboutusCaption" class="aboutus-caption">
            <h1>Hakkımızda</h1><br>
            <p>
                Göksun Mum olarak, yaratıcı ve kaliteli mumlar üretme misyonuyla faaliyet gösteriyoruz.
                Müşterilerimize eşsiz ve atmosferi dönüştüren mumlar sunarak evlerini, etkinliklerini ve özel
                anlarını aydınlatmayı hedefliyoruz.
            </p>
        </div>
    </section>
    <section>
        <div class="aboutus">
            <img src="~/goksunmum/img/goksunbuyuk.png" alt="göksunmum" height="500px" width="500px"
                 style="padding-left:1rem" class="aboutus-pictures">
            <p class="aboutus-text">
                2007 yılında kurulan firmamız, kurulduğu günden beri profesyonel ekip ile çalışıp; birinci
                sınıf ham madde ve üretim sistemleri kullanarak müşteri memnuniyetini hedeflemiştir. <br><br>

                Organizasyon firmaları, oteller, restoranlar, perakende mağazalar, gece kulüpleri, başta cam
                & seramik imalatı yapan ve benzeri imalat sektörlerine hizmet vermekteyiz. <br><br>

                Koku odaklı ve şık tasarımlarımızla beğeninizi kazanmak birincil hedefimiz olmuştur.
                Özellikle bulunduğu ortamın soft, tatlı, fresh ve otantik kokular ile havasını değiştirmek
                istiyorsanız doğru yerdesiniz. Tereddütsüz iade garantisi ve güvenilir alışveriş alt yapısı
                ile hizmetinizde olmaktan onur duymaktayız. <br><br>
                Göksun mum, ilham verici tasarımlar ile mum endüstrisinde lider bir marka olmayı
                hedeflemektedir. Müşterilerimizin yaşam alanlarını güzelleştiren ve anlamlı anılar
                yaratmalarına yardımcı olan mumlar üretmek için sürekli olarak yeniliklere ve gelişime
                odaklanıyoruz. <br><br>

                Misyonumuz, müşterilerimize zarif ve şık bir atmosfer yaratmalarına yardımcı olacak özgün ve
                kaliteli mumlar sunmaktır. Müşterilerimizin beklentilerini aşan ürünlerimiz ve
                mükemmeliyetçi yaklaşımımızla, evlerini, etkinliklerini veya özel günlerini güzelleştirmek
                isteyen herkese hizmet veriyoruz. <br><br>
                Göksun Mum, Müşteri memnuniyetini sağlamak ve güvenilir bir marka olmak için kaliteye büyük
                önem vermektedir. Tüm ürünlerimiz, yüksek kaliteli malzemelerden üretilir ve titizlikle
                kontrol edilir. Müşterilerimize, uzun süreli yanma süresi ve temiz yanan mumlar sunmaktan
                gurur duyuyoruz. İşimizi tutkuyla yapıyor ve her ürünümüzü özenle tasarlıyoruz.
                Müşterilerimizin farklı zevklerine ve dekorasyon tarzlarına uygun olarak geniş bir ürün
                yelpazesi sunuyoruz. Özgün tasarımlarımız, evleri veya etkinlik alanlarını dönüştürmek için
                birer sanat eseri niteliğindedir. Her ürünümüz, göz alıcı desenler, renkler ve dokularla bir
                araya getirilerek en yüksek estetik standartları karşılar. <br><br>
                Sizleri Göksun Mum’un benzersiz ve zarif dünyasına davet ediyoruz. Evlerinizi,
                etkinliklerinizi ve özel günlerinizi güzelleştirmek için tasarlanan ürünlerimizi keşfedin ve
                bizimle birlikte unutulmaz anlar yaratın. <br><br><br>
                <i>
                    Saygı ve sevgilerimizle, <br>
                    Göksun Mum
                </i>
            </p>
        </div>
    </section>
</main>

