
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_LayoutGoksunmum.cshtml";
}

<main>
    <section id="blogSlider" class="blog-slider">
        <div id="blogCaption" class="blog-caption">
            <h1>Mumlarla Aydınlanın: Ruhunuzu Işıkla Sarın...</h1><br>
            <p>
                Bu blog sayfasında, sıcak bir atmosfer ve huzur dolu anlar için en büyülü detaylardan biri olan
                mumları keşfetmeye davet ediyoruz. Mumların yaratıcı şekilleri, hoş kokuları ve ışıltılı
                görüntüleriyle nasıl bir dönüşüm yaratabileceğini öğrenmek için sizleri içeri bekliyoruz. Mumlarla
                aydınlanın, ruhunuzu ışıkla sarın ve günlük hayatınıza dinginlik ve romantizm katın!
            </p>
        </div>
    </section>
    <section id="features" class="sectionArea">
        <div class="featuresTop">
            <h2 class="sectionHeader texts">Yazılar</h2>
        </div>
        <div class="featuresBody">
            <div class="conteiner">
                <div class="col3">
                    <div class="item stilmums">
                        <div class="zoom">
                            <img src="~/goksunmum/img/mumlarstilveatmosfer.png" alt="stil ve atmosfer">
                        </div>
                        <div class="itemText ilk">
                            <h3> Stil ve Atmosfer Nasıl Yaratılır?</h3>
                            <p>
                                Ev dekorasyonu, evimizi kişiselleştirmek, rahatlatıcı bir atmosfer yaratmak ve iç
                                mekanı estetik olarak güzelleştirmek için kullandığımız önemli bir unsurdur...
                            </p>
                            <a href="/Default/Blogpost1/" class="btnDetails">Devamını Oku</a>
                        </div>
                    </div>
                </div>
                <div class="col3">
                    <div class="item mermermums">
                        <div class="zoom">
                            <img src="~/goksunmum/img/mermerdesenlimum.png" alt="teneke mumlar" width="300px" height="320px">
                        </div>
                        <div class="itemText ilk">
                            <h3>Zarafet ve Estetiği Bir Araya Getirmek</h3>
                            <p>
                                Ev dekorasyonunda küçük ayrıntılar büyük fark yaratabilir. Mermer desenli mumlar, son
                                yıllarda ev dekorasyonunda popüler hale gelen zarif ve estetik aksesuarlardır.
                            </p>
                            <a href="/Default/Blogpost2/" class="btnDetails">Devamını Oku</a>
                        </div>
                    </div>
                </div>
                <div class="col3">
                    <div class="item medimums">
                        <div class="zoom">
                            <img src="~/goksunmum/img/mumlarvezihindengesi.png" alt="Mermer Desenli Mumlar" width="300px"
                                 height="320px">
                        </div>
                        <div class="itemText son">
                            <h3>Meditasyon ve Yoga Pratiğinde Mumların Rolü</h3>
                            <p>
                                Meditasyon ve yoga, zihin, beden ve ruh sağlığını geliştirmek için kullanılan kadim
                                uygulamalardır. Bu disiplinler, stresi azaltma, iç huzuru bulma ve genel yaşam
                                kalitesini artırma gibi birçok fayda sunarlar.
                            </p>
                            <a href="/Default/Blogpost3/" class="btnDetails">Devamını Oku</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="featuresBody">
                <div class="conteiner">
                    <div class="col3">
                        <div class="item colormums">
                            <div class="zoom">
                                <img src="~/goksunmum/img/renklimumlar.png" alt="stil ve atmosfer" width="300px" height="320px">
                            </div>
                            <div class="itemText ilk">
                                <h3> Renkli Mumlar ve Renklerin Özellikleri</h3>
                                <p>
                                    Ev dekorasyonu, evinizi kişiselleştirirken atmosferi ve duygusal etkileri
                                    yakalamak için renkleri kullanmanın önemli bir yönüdür. Renkler, duygusal
                                    tepkileri tetikleyebilir, enerjiyi artırabilir veya sakinleştirici bir...
                                </p>
                                <a href="/Default/Blogpost4/" class="btnDetails">Devamını Oku</a>
                            </div>
                        </div>
                    </div>
                    <div class="col3">
                        <div class="item shimmermums">
                            <div class="zoom">
                                <img src="~/goksunmum/img/simlimum.png" alt="teneke mumlar" width="300px" height="320px">
                            </div>
                            <div class="itemText ilk">
                                <h3>Simli Mumlar: Dekorasyona Parıltı ve Şıklık Katın</h3>
                                <p>
                                    Mumlar, ev dekorasyonunda sıklıkla kullanılan şık ve atmosferik unsurlardır.
                                    Mumların sıcak ışığı, evinizi daha davetkar ve rahatlatıcı bir hale getirir.
                                </p>
                                <a href="/Default/Blogpost5/" class="btnDetails goOn">Devamını Oku</a>
                            </div>
                        </div>
                    </div>
                    <div class="col3">
                        <div class="item homedecoration">
                            <div class="zoom">
                                <img src="~/goksunmum/img/topmum.png" alt="Mermer Desenli Mumlar" width="300px"
                                     height="320px">
                            </div>
                            <div class="itemText son">
                                <h3>Ev Dekorasyonunda Şıklığı Yakalayın</h3>
                                <p>
                                    Ev dekorasyonunda kullanılan mumlar, sadece bir ışık kaynağı olmanın ötesine
                                    geçer. Estetik görünümleri ve farklı tasarım seçenekleriyle evin herhangi bir
                                    köşesine şıklık katarlar.
                                </p>
                                <a href="/Default/Blogpost/" class="btnDetails">Devamını Oku</a>
                            </div>
                        </div>
                    </div>
                </div>
    </section>
</main>

