
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutGoksunmum.cshtml";
}

<main>
    <section id="contactSlider" class="contact-slider">
        <div id="contactCaption" class="contact-caption">
            <h1>İletişim</h1><br>
            <p>
                Her türlü soru, öneri veya işbirliği talepleriniz için sizinle iletişim
                kurmaktan mutluluk duyarız. Ekibimiz, hızlı ve etkili bir şekilde size destek sağlamak için burada
                ve size en iyi müşteri deneyimini sunmak için sabırsızlanıyor.
            </p>
        </div>
    </section>
    <section>
        <div class="aboutus">
            <img src="~/goksunmum/img/goksunbuyuk.png" alt="göksunmum" height="500px" width="500px" style="padding-left:3rem"
                 class="aboutus-pictures">
            <p class="aboutus-text">
                Firmamıza ulaşmak, sorularınızı sormak, geri bildirimde bulunmak veya herhangi bir konuda iletişim
                kurmak
                için bu iletişim sayfasını kullanabilirsiniz. Müşteri memnuniyeti bizim önceliğimizdir ve size en
                kısa sürede geri dönüş yapmak için buradayız. Sipariş ve ürünler hakkında bilgi almak için de
                iletişim bilgilerimizi kullanabilirsiniz. <br><br>

                Aşağıda iletişim bilgilerimizi bulabilirsiniz: <br>

                Firma Adı:Göksun Mum <br>
                Adres: Şerifali mah. Başer sok. No:51/2 Ümraniye/İstanbul<br>
                Telefon:+90 505 543 05 12 <br>
                E-mail:info@goksunmum.com <br><br>

                Sizden gelen her türlü soru, talep veya öneriye değer veriyoruz. Eğer bir ürün veya hizmet hakkında
                bilgi almak istiyorsanız, lütfen konuyla ilgili detayları bize bildirin. Size en iyi şekilde
                yardımcı
                olmaktan mutluluk duyarız. <br><br><br>
                <i>
                    Saygı ve sevgilerimizle, <br>
                    Göksun Mum
                </i>
            </p>
        </div>

    </section>
</main>

