
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutGoksunmum.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<body>
    <main>
        <section id="mainSlider" class="slider">
            <div id="mainCaption" class="caption">
                <h1>Işığın Büyülü Dansını Keşfet.</h1><br>
                <p>
                    Mumlar, atmosferi sıcak ve huzurlu bir ortama dönüştüren eşsiz güzellikteki aksesuarlardır.
                    Mum, sadece bir nesne değil, aynı zamanda duygusal bir deneyim ve içsel bir
                    yolculuktur.
                </p>
            </div>
        </section>
        <section id="features" class="sectionArea">
            <div class="featuresTop productshead">
                <h2 class="sectionHeader">Ürünlerimiz</h2>
            </div>
            <div class="featuresBody">
                <div class="conteiner">
                    <div class="col3">
                        <div class="item ">
                            <div class="zoom">
                                <img src="~/goksunmum/img/pastamumutopl(2).jpg" alt="pasta mumları">
                            </div>
                            <div class="itemText son ">
                                <h3>Pasta Mumları</h3>
                                <p>
                                    Renkli ve parlak pasta mumları, doğum günü partilerini daha da eğlenceli hale getiren
                                    sevimli detaylardır. Pastanın üzerindeki mumlar, dileklerinizi dile getirirken
                                    kutlamalarınıza enerji ve neşe katar.
                                </p>
                                <a href="/Default/Products/" class="btnDetails">İncele</a>
                            </div>
                        </div>
                    </div>
                    <div class="col3">
                        <div class="item ">
                            <div class="zoom">
                                <img src="~/goksunmum/img/tenekeMum(11).jpg" alt="teneke mumlar" width="300px" height="320px">
                            </div>
                            <div class="itemText son">
                                <h3>Özel Tasarım Teneke Mumlar</h3>
                                <p>
                                    Teneke mumlar, dayanıklı ve şık tasarımlarıyla iç ve dış mekanlarda estetik bir
                                    atmosfer oluştururken aynı zamanda aydınlatma ihtiyaçlarını da karşılar. Metalik
                                    yapısıyla modern bir görünüm sunar.
                                </p>
                                <a href="/Default/Products/" class="btnDetails">İncele</a>
                            </div>
                        </div>
                    </div>
                    <div class="col3">
                        <div class="item ">
                            <div class="zoom">
                                <img src="~/goksunmum/img/mermerDesenler(3).jpg" alt="Mermer Desenli Mumlar" width="300px"
                                     height="320px">
                            </div>
                            <div class="itemText">
                                <h3>Mermer Desenli Mumlar</h3>
                                <p>
                                    Mermer desenli mumlar, benzersiz ve şık bir görünüm sunarak dekorasyonunuza sofistike
                                    bir dokunuş katar. Etkileyici bir atmosfer ile mekana ışığıyla sıcaklık ve zarafet
                                    katar.
                                </p>
                                <a href="/Default/Products/" class="btnDetails">İncele</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>

</html>

