
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_LayoutGoksunmum.cshtml";
}

<main>
    <section id="productsSlider" class="products-slider">
        <div id="productsCaption" class="products-caption">
            <h1>Ürünlerimiz</h1><br>
            <p>
                Ürünlerimiz kısmında, geniş bir yelpazede eşsiz tasarımlara sahip olan mumlarımızı bulabilirsiniz.
                Her biri özenle üretilmiş ve kaliteli malzemeler kullanılarak hazırlanmış olan ürünlerimiz, evinize
                sıcaklık ve şıklık katacak.
            </p>
        </div>
    </section>
    <div class="featuresTop" style="padding-top: 20px;">
        <h2 class="sectionHeader">Pasta Mumları</h2>
    </div>
    <div class="container-products children">
        <div class="box left"><img src="~/goksunmum/img/pastamumu(6).jpg" style="height: 300px; width: 300px;" alt="pasta mumu"></div>
        <div class="box right"><img src="~/goksunmum/img/pastamumu(7).jpg" style="height: 300px; width: 300px;" alt="pasta mumu"></div>
        <div class="box left"><img src="~/goksunmum/img/pastamumu(11).jpg" style="height: 300px; width: 300px;" alt="pasta mumu"></div>
        <div class="box right"><img src="~/goksunmum/img/pastamumu(12).jpg" style="height: 300px; width: 300px;" alt="pasta mumu"></div>
    </div>
    <div class="featuresTop" style="padding-top: 20px;">
        <h2 class="sectionHeader">Buhurdanlık ve Esans</h2>
    </div>
    <div class="container-products children">
        <div class="box left"><img src="~/goksunmum/img/buhurdanlik 8(10).jpg" style="height: 300px; width: 300px;" alt="pasta mumu"></div>
        <div class="box right"><img src="~/goksunmum/img/buhurdanlik 8(11).jpg" style="height: 300px; width: 300px;" alt="pasta mumu"></div>
        <div class="box left"><img src="~/goksunmum/img/buhurdanlik 8(12).jpg" style="height: 300px; width: 300px;" alt="pasta mumu"></div>
        <div class="box right"><img src="~/goksunmum/img/buhurdanlik 8(14).jpg" style="height: 300px; width: 300px;" alt="pasta mumu"></div>
    </div>
    <div class="featuresTop" style="padding-top: 20px;">
        <h2 class="sectionHeader">Simli Mumlar</h2>
    </div>
    <div class="container-products children">
        <div class="box left"><img src="~/goksunmum/img/simlisilindirMUM(10).jpg" style="height: 300px; width: 300px;" alt="pasta mumu"></div>
        <div class="box right"><img src="~/goksunmum/img/simlisilindirMUM(11).jpg" style="height: 300px; width: 300px;" alt="pasta mumu"></div>
        <div class="box left"><img src="~/goksunmum/img/simlitopmum(1).jpg" style="height: 300px; width: 300px;" alt="pasta mumu"></div>
        <div class="box right"><img src="~/goksunmum/img/simlitopmum(2).jpg" style="height: 300px; width: 300px;" alt="pasta mumu"></div>
    </div>
    <div class="featuresTop" style="padding-top: 20px;">
        <h2 class="sectionHeader">Silindir Mumlar</h2>
    </div>
    <div class="container-products children">
        <div class="box left"><img src="~/goksunmum/img/silindirMum(4).jpg" style="height: 300px; width: 300px;" alt="pasta mumu"></div>
        <div class="box right"><img src="~/goksunmum/img/silindirMum(5).jpg" style="height: 300px; width: 300px;" alt="pasta mumu"></div>
        <div class="box left"><img src="~/goksunmum/img/silindirMum(6).jpg" style="height: 300px; width: 300px;" alt="pasta mumu"></div>
        <div class="box right"><img src="~/goksunmum/img/silindirMum(7).jpg" style="height: 300px; width: 300px;" alt="pasta mumu"></div>
    </div>
    <div class="featuresTop" style="padding-top: 20px;">
        <h2 class="sectionHeader">Top Mumlar</h2>
    </div>
    <div class="container-products children">
        <div class="box left"><img src="~/goksunmum/img/topmumsimsiz.jpg" style="height: 300px; width: 300px;" alt="pasta mumu"></div>
        <div class="box right"><img src="~/goksunmum/img/topmum-simsiz(1).jpg" style="height: 300px; width: 300px;" alt="pasta mumu"></div>
        <div class="box left"><img src="~/goksunmum/img/topmum-simsiz(3).jpg" style="height: 300px; width: 300px;" alt="pasta mumu"></div>
        <div class="box right"><img src="~/goksunmum/img/topmum-simsiz(2).jpg" style="height: 300px; width: 300px;" alt="pasta mumu"></div>
    </div>
    <div class="featuresTop" style="padding-top: 20px;">
        <h2 class="sectionHeader">Mermer Desenli Mumlar</h2>
    </div>
    <div class="container-products children">
        <div class="box left"><img src="~/goksunmum/img/mermerDesenler(4).jpg" style="height: 300px; width: 300px;" alt="pasta mumu"></div>
        <div class="box right"><img src="~/goksunmum/img/mermerDesenler(2).jpg" style="height: 300px; width: 300px;" alt="pasta mumu"></div>
        <div class="box left"><img src="~/goksunmum/img/mermerDesenler(1).jpg" style="height: 300px; width: 300px;" alt="pasta mumu"></div>
        <div class="box right"><img src="~/goksunmum/img/mermerDesenler(3).jpg" style="height: 300px; width: 300px;" alt="pasta mumu"></div>
    </div>
    <div class="featuresTop" style="padding-top: 20px;">
        <h2 class="sectionHeader">Özel Tasarım Teneke Mumlar</h2>
    </div>
    <div class="container-products children">
        <div class="box left"><img src="~/goksunmum/img/tenekeMum(10).jpg" style="height: 300px; width: 300px;" alt="pasta mumu"></div>
        <div class="box right"><img src="~/goksunmum/img/tenekeMum(12).jpg" style="height: 300px; width: 300px;" alt="pasta mumu"></div>
        <div class="box left"><img src="~/goksunmum/img/tenekeMum(15).jpg" style="height: 300px; width: 300px;" alt="pasta mumu"></div>
        <div class="box right"><img src="~/goksunmum/img/tenekeMum(18).jpg" style="height: 300px; width: 300px;" alt="pasta mumu"></div>
    </div>
    <div class="featuresTop" style="padding-top: 20px;">
        <h2 class="sectionHeader">Özel Tasarım Kavanoz Mumlar</h2>
    </div>
    <div class="container-products children">
        <div class="box left"><img src="~/goksunmum/img/kavanozMum(1).jpg" style="height: 300px; width: 300px;" alt="pasta mumu"></div>
        <div class="box right"><img src="~/goksunmum/img/kavanozMum(2).jpg" style="height: 300px; width: 300px;" alt="pasta mumu"></div>
        <div class="box left"><img src="~/goksunmum/img/kavanozMum(3).jpg" style="height: 300px; width: 300px;" alt="pasta mumu"></div>
        <div class="box right"><img src="~/goksunmum/img/kavanozMum(4).jpg" style="height: 300px; width: 300px;" alt="pasta mumu"></div>
    </div>
    <div class="featuresTop" style="padding-top: 20px;">
        <h2 class="sectionHeader">Yüzen Mumlar</h2>
    </div>
    <div class="container-products children">
        <div class="box left"><img src="~/goksunmum/img/buyukYuzen(1).jpg" style="height: 300px; width: 300px;" alt="pasta mumu"></div>
        <div class="box right"><img src="~/goksunmum/img/kucukYuzen(1).jpg" style="height: 300px; width: 300px;" alt="pasta mumu"></div>
        <div class="box left"><img src="~/goksunmum/img/buyukYuzen(4).jpg" style="height: 300px; width: 300px;" alt="pasta mumu"></div>
        <div class="box right"><img src="~/goksunmum/img/kucukYuzen(3).jpg" style="height: 300px; width: 300px;" alt="pasta mumu"></div>
    </div>
</main>

